# URL Base de la interfaz de usuario de Conduit
BASE_URL=https://conduit.bondaracademy.com

# URL Base de la API REST de Conduit (Backend real)
API_URL=https://conduit-api.bondaracademy.com/api

# Credenciales para pruebas de automatización (UI, API, K6)
TEST_USER_EMAIL=usuario_prueba@example.com
TEST_USER_PASSWORD=PasswordSeguro123
TEST_USER_USERNAME=usuario_prueba
